.hero-unit {
  padding: 60px;
  padding-top: 100px;
}
body {
  font-family: 'Lato', sans-serif;
  color: #666;
 }
  td, th, h3, input {
  font-family: 'Lato', sans-serif;
  color: #666;
  }
  input, button, select, textarea, a {
  	font-family: 'Lato', sans-serif;
  }
 .hero-unit h1
 {
 	font-size: 50px;
 }
 .tablebackgroundblue
 {
 	background-image: none;
 }
.tablebackgroundcamel
 {
 	background-image: none;
 	border-right: none;
 	border-bottom: none;
 }
.center-table
{
 margin: 0 auto !important;
 float: none !important;
}
.right-td
{
 text-align: right !important;
} 
.form_head
{
	background-color: transparent !important;
	color: #333333;
	font-size: 14px;
}
.tableBodyRight
{
	background: transparent !important;
}
input, textarea
{
	color: #222222;
}
.bgcolor_001{
	background-color: transparent !important;
}
.bgcolor_002{
	background-color: transparent !important;
}
.bgcolor_003{
	background-color: transparent !important;
}
.bgcolor_004 {
	background-color: transparent !important;	
}
.bgcolor_005 {
	background-color: transparent !important;	
}
.bgcolor_007 {
	background-color: transparent !important;
}
.bgcolor_008 {
	background-color: transparent !important;
}
.bgcolor_009 {
	background-color: transparent !important;
}
.form_input_select
{
	background-color: #FFFFFF !important;
	color: #222222 !important;
	font-family: 'Lato', sans-serif;
}
.form_input_text
{
	border: 
}
.callhistory_td11
{
	background-color: transparent !important;
}
.fontstyle_searchoptions
{
	color: #b3b3b3;	
}
.liens
{
	color: #b3b3b3;
}
.liensdark
{
	color: #000000;
}
.fontstyle_002
{
	font-size: 15px;
}
/*
.fontstyle_003
{
	font-family: Montserrat, sans-serif;
}

.fontstyle_007
{
	font-family: Montserrat, sans-serif;
	color: #FFFFFF;
}
*/
.bgcolor_021 
{
	background-color: transparent !important;
}
.fontstyle_006
{
	font-size: 15px;
    color: #000000;
    font-family: 'Lato', sans-serif;
}
.error_message
{
	font-size: 16px;
	color: #b3b3b3;
}
.tableDivider {
	background-color: transparent !important;
}
#page-wrap
{
	margin-top: 90px;
}
.login-border-up
{
	background: transparent !important;
}
.login-border-center
{
	background: transparent !important;
}

.login-border-down
{
	background: transparent !important;
}
.navbar-inner
{
	background-image: linear-gradient(to bottom,#FFFFFF,#FFFFFF);
	border: 1px solid #F5F5F5;
	background-color: #DB0B0B;
	min-height: 90px;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.spacetop
{
	margin-top: 30px;
}
.alert-info
{
	color: #db0b0b;
    background-color: #F9FBF9;
    border-color: #db0b0b;
}
.form_input_text
{
	color: #222222 !important;
	border: none !important;
	font-size: 12px !important;
}
.table th, .table td 
{
	border-top: none !important;
}
.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus 
{
	background-color: #DB0B0B !important;
}
.cssbutton 
{
	border: none !important; 
	background-color: transparent !important;
	font-size: 12px;
}
.form_head_red 
{
	color: #DB0B0B !important;
    font-size: 12px !important;
}
.footerlogin
{
	padding-top: 15px;
}
.fixcontainer
{
	margin-left: 0px;
	margin-right: 0px;
	width: 100px;
}
.firstfooter
{
	text-align:center;background-color:#F3F3F3;height:89px;margin-left:0px;width:100%;
}
.secureimg
{
	padding-top:15px;padding-bottom:15px;
}
.secondfooter
{
	text-align:center;background-color:#E8E8E8;height:50px;margin-left:0px;width:100%;
}
.footerlink
{

}
.footeranchors
{
	font-family: 'Lato', sans-serif !important;
    color: #666666 !important;
    font-size: 15px !important;
    text-shadow: rgba(0, 0, 0, 0.00784314) 0px 0px 1px !important;
    margin-top: 15px !important;
    text-decoration: none !important;
    padding-right: 40px;
}
.footeranchors:visited
{

}
.thirdfooter
{
	text-align:right;
	color: #666;
	float: right;
	padding-right: 20px;
	font-size: 14px;
}
.navbar .brand {
padding: 0px 20px 20px;
}
.topmenuitem
{
	padding: 10px 10px 10px;
}